fastapi
uvicorn
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
bcrypt
pdfplumber
pinecone
python-dotenv
google-genai
python-multipart
nest_asyncio
pydantic[email]
boto3
llama-parse
pydantic-settings
